body {
    margin: 0;
  }
  header {
    padding: 15px; 
    font-family:sans-serif;

  }
  header ul {
    float: right;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
    margin-right: 20px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    padding: 100px 15px; 
  }
  section img {
    height: 300px;
    padding: 25px;
}
.content {
    width: 600px;
    margin:0 auto;
    text-align: center;
    font-family: sans-serif;

}
footer ul {
    float: left;
    font-family: sans-serif;
}
footer li {
    display: inline-block;
    padding: 0px 5px;
    margin-right: 20px;
  }